<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/images/2-removebg-preview 1().png">
</head>
<body>
  <div class="wrapper">
    
    <!-- HEADER -->
    <div class="header">
      <div class="header-content">
        <div class="logo"><a id="link" href="#home"><img src="/images/2-removebg-preview 1().png"></a></div>
        <div class="item">
          <div class="items"><p>Menu</p></div>
          <div class="items"><p>Reservation</p></div>
          <div class="items"><p>Rating</p></div>
          <div class="items"><p>Home Delivery</p></div>
        </div>
        <div class="user"><a id="link" href="#user"><img src="/images/icon-user.svg"></a></div>
      </div>
    </div>

    <!-- HOME -->
    <div class="home" id="home">
      <img src="/images/background.png">
      <div class="title">The Baratie</div>
    </div>

    <!-- INFO -->
    <div class="info">
      <div class="span"><img src="/images/Image 1.png"></div>
      <div class="span-text"><p>Japanese sitting</p></div>
      <div class="span"><img src="/images/Image 2.png"></div>
      <div class="span-text"><p>Japanese Aesthetic</p></div>
      <div class="span1"><img src="/images/Image 3.png"></div>
      <div class="span-text"><p>Core Japanese Food</p></div>
    </div>

    <!-- MOST FAMOUS -->
    <div class="most-famous">
      <div class="mf-text"><p>Most Famous Items</p></div>
      <div class="menu-list">
        <div class="menu-item">
          <div class="menu-card">
            <div class="menu-card-img"><img src="/images/buta-no-shogayaki.png"></div>
            <div class="menu-card-info">
              <div class="menu-card-info-info">
                <div class="menu-card-info-info-name">
                  <div class="menu-card-info-info-name-p">Buto No Shogayaki</div>
                  <div class="menu-card-info-info-name-pp">Full</div>
                </div>
                <div class="menu-card-info-info-price">399/-</div>
              </div>
            </div>
          </div>
          <div class="menu-card">
            <div class="menu-card-img"><img src="/images/champon.png"></div>
            <div class="menu-card-info">
              <div class="menu-card-info-info">
                <div class="menu-card-info-info-name">
                  <div class="menu-card-info-info-name-p">Champon</div>
                  <div class="menu-card-info-info-name-pp">Full</div>
                </div>
                <div class="menu-card-info-info-price">399/-</div>
              </div>
            </div>
          </div>
          <div class="menu-card">
            <div class="menu-card-img"><img src="/images/edamame.png"></div>
            <div class="menu-card-info">
              <div class="menu-card-info-info">
                <div class="menu-card-info-info-name">
                  <div class="menu-card-info-info-name-p">Edamane</div>
                  <div class="menu-card-info-info-name-pp">Full</div>
                </div>
                <div class="menu-card-info-info-price">399/-</div>
              </div>
            </div>
          </div>
          <div class="menu-card">
            <div class="menu-card-img"><img src="/images/fugu.png"></div>
            <div class="menu-card-info">
              <div class="menu-card-info-info">
                <div class="menu-card-info-info-name">
                  <div class="menu-card-info-info-name-p">Fugu</div>
                  <div class="menu-card-info-info-name-pp">Full</div>
                </div>
                <div class="menu-card-info-info-price">399/-</div>
              </div>
            </div>
          </div>
          <div class="menu-card">
            <div class="menu-card-img"><img src="/images/gyoza.png"></div>
            <div class="menu-card-info">
              <div class="menu-card-info-info">
                <div class="menu-card-info-info-name">
                  <div class="menu-card-info-info-name-p">Gyoza</div>
                  <div class="menu-card-info-info-name-pp">Full</div>
                </div>
                <div class="menu-card-info-info-price">399/-</div>
              </div>
            </div>
          </div>
          <div class="menu-card">
            <div class="menu-card-img"><img src="/images/gyudon.png"></div>
            <div class="menu-card-info">
              <div class="menu-card-info-info">
                <div class="menu-card-info-info-name">
                  <div class="menu-card-info-info-name-p">Gyudon</div>
                  <div class="menu-card-info-info-name-pp">Full</div>
                </div>
                <div class="menu-card-info-info-price">399/-</div>
              </div>
            </div>
          </div>
          <div class="menu-card">
            <div class="menu-card-img"><img src="/images/gyukatsu.png"></div>
            <div class="menu-card-info">
              <div class="menu-card-info-info">
                <div class="menu-card-info-info-name">
                  <div class="menu-card-info-info-name-p">Gyukatsu</div>
                  <div class="menu-card-info-info-name-pp">Full</div>
                </div>
                <div class="menu-card-info-info-price">399/-</div>
              </div>
            </div>
          </div>
          <div class="menu-card">
            <div class="menu-card-img"><img src="/images/gyutan.png"></div>
            <div class="menu-card-info">
              <div class="menu-card-info-info">
                <div class="menu-card-info-info-name">
                  <div class="menu-card-info-info-name-p">Gyutan</div>
                  <div class="menu-card-info-info-name-pp">Full</div>
                </div>
                <div class="menu-card-info-info-price">399/-</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Login/Signup -->
    <div class="log-sign" id="user">
      <a href="/login">Login</a> or <a href="/signup">Signup</a>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <div class="foot-info">
        <div class="foot-left">
          <div class="foot-left-title"><p>Contact us</p></div>
          <div class="foot-left-subtitle"><p>123 Restaurant Street</p></div>
          <div class="foot-left-subtitle"><p>City, State 12345</p></div>
          <div class="foot-left-subtitle"><p>Phone: 9524462482</p></div>
          <div class="foot-left-subtitle"><p>Email: thebaratie.com</p></div>
        </div>
        <div class="foot-right">
          <div class="foot-right-title"><p>ありがとう、また訪れてください</p></div>
          <div class="foot-right-icon">
            <div><img src="/images/icon-linkedin.svg"></div>
            <div><img src="/images/icon-twitter.svg"></div>
            <div><img src="/images/icon-instagram.svg"></div>
            <div><img src="/images/icon-facebook.svg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>